ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idProduct}=="006e", ATTRS{idVendor}=="256c", RUN+="/usr/sbin/systemctl --no-block start huion-driver.service"
